@font-face {
    font-family: 'raleway';
    src: url(polices/static/Raleway-Regular.ttf);
    /* font-family: "raleway_bold";
    src: url(polices/static/Raleway-Bold.ttf); */
}

body {
    font-family: 'raleway';
}

strong {
    font-weight: bolder;
}

#bloc_page {
    width: 1100px;
    margin: auto;
}

.logo_reservia img {
    width: 90px;
}

.menu a {
    list-style-type: none;
    font-size: small;
    padding-top: 10px;
}

.menu a {
    padding: 30px;
}

.menu a:hover,
a:link,
a:active {
    text-decoration: none;
}

.menu_hebergement a,
.menu_activite a {
    color: black;
}

.menu_hebergement a:hover,
.menu_activite a:hover {
    border-top: solid;
    padding-top: 25px;
    border-color: #0065FC;
    border-width: 2px;
    color: #0065FC;
}

nav a {
    font-size: 1.3em;
}

.titre_principal h1 {
    font-size: 120%;
    padding-top: 20px;
}

.titre_principal h2 {
    font-size: 80%;
    color: rgb(136, 133, 128);
    padding-bottom: 10px;
}

/*--------------------------------------FONCTION RECHERCHE----------------------------------*/
.fonction_recherche {

    display: flex;
    height: 40px;
}

.icone_marqueur {
    background-color: #F2F2F2;
    width: 43px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
}

.fa-map-marker-alt {
    position: relative;
    left: 16px;
    top: 11px;
}

.recherche {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ville {
    justify-content: center;
    border: 0px;
    font-size: medium;
    font-weight: bold;
    width: 10em;
    padding-left: 1em;
}

.label_rechercher {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    width: 8em;
    height: 40px;
    text-align: center;
    margin-bottom: -10px;
}

.label_rechercher a:hover {
    cursor: pointer;
    opacity: 0.9;
}

/*-------------------------------------------------FILTRES------------------------------*/
.div_filtres {
    display: flex;
}

.filtres {
    display: flex;
    flex-direction: row;
}

.filtres h2 {
    font-size: 1em;
}

.div_a a {
    border-radius: 25px;
    border: solid;
    display: flex;
    flex-direction: row;
    border-color: rgb(226, 218, 218);
    border-width: 2px;
    color: black;
    font-size: 1em;
    margin-left: 25px;
    align-items: center;
    padding-right: 10px;
    font-weight: bold;
}

.div_a a:hover {
    opacity: 0.7;
    background: #adbdcf;
    box-shadow: 0px 0px 3px 1px #abdbcf;
}

.icone_filtre {
    background-color: #DEEBFF;
    border-radius: 25px;
    height: 41px;
    width: 41px;
    border-color: #DEEBFF;
    margin-right: 15px;
    box-shadow: 0px 0px 0px 2px #DEEBFF;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    color: #0065FC;
    position: relative;
}

.fa-money-bill-wave {
    left: 8px;
    top: 10px;
}

.fa-child {
    left: 12px;
    top: 10px;
}

.fa-heart {
    left: 9px;
    top: 10px;
}

.fa-dog {
    left: 8px;
    top: 10px;
}

.fa-info {
    color: #0065FC;
    font-size: smaller;
    position: absolute;
    right: 10px;
    top: 5px;
}

.plus_de_500 {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    padding-top: 15px;
    padding-bottom: 15px;
}

.icone_i {
    border-radius: 25px;
    border: solid;
    width: 25px;
    height: 25px;
    border-width: 1px;
    border-color: rgb(212, 205, 205);
    position: relative;
    margin-right: 15px;
}

/*-----------------------------------------------------SECTION----------------------------------------*/
section h2 {
    margin-left: 40px;
    margin-top: 40px;
    font-size: 1.2em;
}

Section ul {
    list-style-type: none;
}

/*--------------------------------------------HEBERGEMENTS-----------------------------------------*/
#hebergement {
    background-color: #F2F2F2;
    border-radius: 25px;
    margin-right: 20px;
}

.hebergement_ligne {
    display: flex;
    flex-direction: row;
    padding-inline-start: 25px;
}

.hebergement_ligne a {
    background-color: white;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgb(216, 209, 209);
}

.hebergement_ligne a img {
    width: 12.5em;
    height: 6.5em;
    margin: 5px 5px 0px 5px;
    border-radius: 15px 15px 0px 0px;
}

.titre_annonce {
    margin-top: 0.3em;
    font-weight: bold;
    margin-left: 0.8em;
    font-size: 0.8em;
    color: black;
}

.prix_annonce {
    margin-top: -0.7em;
    color: gray;
    margin-left: 1em;
    font-size: 0.6em;
}

.hebergements_star {
    display: flex;
    margin-left: 8px;
    margin-bottom: 10px;
    margin-top: -4px;
}

.blue_star {
    color: #0065FC;
    font-size: 0.7em;
}

.grey_star {
    color: #dad5d5;
    font-size: 0.7em;
}

.afficher_plus {
    margin-left: 45px;
    margin-bottom: 40px;
    font-size: 1em;
    display: inline-flex;
}

/* ---------------------------------------------POPULAIRE----------------------------------------*/
.titre_populaire {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.fa-chart-line {
    font-size: 1.2em;
    margin-left: 40px;
}

.populaire {
    background-color: #F2F2F2;
    border-radius: 25px;
    width: 100%;
}

.populaire_1,
.populaire_2,
.populaire_3 {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 0px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 8px rgb(202, 193, 193);
}

.populaire_1 a,
.populaire_2 a,
.populaire_3 a {
    display: flex;
    flex-direction: row;
}

.populaire img {
    width: 7.5em;
    height: 7em;
    margin: 5px 5px 5px 5px;
    border-radius: 15px 0px 0px 15px;
}

.description_populaire p {
    margin-right: 35px;
}

.populaires_star {
    display: flex;
    margin-bottom: -150px;
    margin-left: 10px;
}

/* ---------------------------------------------ACTIVITES-----------------------------------*/
#activités h2 {
    margin-bottom: 0px;
    font-size: larger;
}

.activités_image {
    display: flex;
    flex-direction: row;
}

.photo_10 {
    width: 245px;
    border-radius: 20px 20px 0px 0px;
    margin: 20px 20px 20px 0px;
}

.photo_12 {
    height: 85px;
}

.photo_11,
.photo_12,
.photo_13,
.photo_14,
.photo_15 {
    width: 245px;
    border-radius: 20px 20px 0px 0px;
    margin: 20px;
}

.photo_10,
.photo_13 {
    height: 295px;
}

.paragraphe_photo_10 {
    margin-top: -25px;
    width: 223px;
    font-size: smaller;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: rgb(228, 220, 220);
    box-shadow: 1px 2px 10px rgb(236, 231, 231);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.paragraphe {
    position: relative;
    left: 20px;
    margin-top: -25px;
    width: 223px;
    font-size: smaller;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: rgb(228, 220, 220);
    box-shadow: 1px 2px 5px rgb(236, 231, 231);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

footer {
    display: flex;
    list-style-type: none;
    margin-top: 50px;
    background: #F2F2F2;
    margin-left: -50px;
    margin-right: -50px;
    justify-content: space-around;
}

footer span {
    font-weight: bold;
    padding-bottom: 19px;
}

footer ul {
    list-style-type: none;
    padding-bottom: 35px;
    padding-top: 25px;
    margin-left: -150px;
}

footer li {
    margin-top: 10px;
}

/* -----------------------------------MEDIA---------------------------*/
@media all and (min-width: 1100px) {
    section {
        display: flex;
    }

    .label_loupe {
        display: none;
    }

    .menu_sinscrire1 {
        display: none;
    }

    .menu_sinscrire2 {
        color: #0065FC;
        font-weight: 900;
        border-color: white;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .menu {
        display: flex;
        align-items: baseline;
    }


    /* .menu{
        display: flex;
        justify-content: flex-end;
    } */


}

@media only screen and (min-width: 750px) and (max-width: 1100px) {
    .label_loupe {
        display: none;
    }

    .populaire_1,
    .populaire_2,
    .populaire_3 {
        background-color: white;
        display: flex;
        flex-direction: row;
        margin: 0px 20px 20px 20px;
        border-radius: 20px;
        box-shadow: 5px 5px 8px rgb(202, 193, 193);
        width: 20em;
    }

    .menu_sinscrire1 {
        display: none;
    }

    .menu_sinscrire2 {
        color: #0065FC;
        font-weight: 900;
        border-color: white;
    }

    .menu {
        display: flex;
        text-align: center;
    }

    section {
        display: flex;
        flex-direction: row;
    }

    .populaire {
        background-color: white;
    }

    .activités_image {
        width: auto;
    }

    /* .menu{
        display: flex;
        justify-content: flex-end;
    } */
}

@media all and (max-width: 750px) {

    .activités_image {
        flex-direction: column;
    }

    .titre_principal h1 {
        font-size: 160%;
        margin-left: 10px;
    }

    .titre_principal h2 {
        font-size: 110%;
        margin-left: 10px;
    }

    #bloc_page {
        width: 100%;
    }

    .menu a:hover {
        border-top: none;
        border-bottom: solid;
        padding-bottom: 5px;
        border-color: #0065FC;
        border-width: 3px;
        color: #0065FC;
    }

    .menu_sinscrire2 {
        display: none;
    }

    .menu_sinscrire1 {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 10%;
    }

    .recherche {
        display: flex;
        justify-content: space-around;
    }

    .ville {
        display: flex;
        align-items: flex-start;
        border: 0px;
        font-size: medium;
        font-weight: bold;
        padding-left: -5em;
    }

    .label_rechercher {
        display: none;
    }

    .label_loupe {
        background-color: #0065FC;
        width: 50px;
        border-radius: 10px;
        margin-right: 20px;
        margin-left: 3em;
    }

    .fa-search {
        color: white;
        display: flex;
        justify-content: center;
        position: relative;
        top: 11px;
    }

    .filtres {
        display: flex;
        flex-direction: column;
    }

    .filtres h2 {
        margin-left: 20px;
    }

    .div_filtres {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
    }

    .div_a {
        margin: 5px;
    }

    .titre_annonce {
        font-size: 3vw;
    }

    .prix_annonce {
        font-size: 3vw;
    }

    .blue_star {
        font-size: 3vw;
    }

    .grey_star {
        font-size: 3vw;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .menu_sinscrire1 {
        color: #0065FC;
        margin-bottom: 20px;
    }

    .menu {
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }

    section {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergement_ligne {
        display: flex;
        flex-direction: column;
    }

    .hebergement_ligne a {
        width: 100%;
    }

    .hebergement {
        background-color: white;
        border-radius: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .hebergement_ligne {
        padding-left: 0px;
    }

    .hebergement_ligne a {
        background-color: white;
        margin-right: 0px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 3px 3px 3px rgb(233, 228, 228);
    }

    .hebergement_ligne a img {
        width: 99%;
        height: 10em;
        object-fit: cover;
        margin: 5px 5px 0px 5px;
        border-radius: 15px 15px 0px 0px;
    }

    .afficher_plus {
        margin-left: 3px;
        font-weight: bolder;
    }

    .populaire img {
        width: 40%;
        height: auto;
    }

    .populaire {
        background-color: #ffffff !important;
        border-radius: 0;
        margin: 0px;
    }

    .populaires_star {
        display: flex;
        margin-bottom: -100px;

        margin-left: 10px;
    }

    .photo_10,
    .photo_11,
    .photo_12,
    .photo_13,
    .photo_14,
    .photo_15 {
        width: 100%;
        height: 150px;
        border-radius: 20px 20px 0px 0px;
        margin: 0px;
        object-fit: cover;
        margin-top: 20px;
    }

    .paragraphe_photo_10 {
        margin-top: -5px;
        width: auto;
        font-size: smaller;
        padding-left: 20px;
        padding-bottom: 13px;
        padding-top: 13px;
    }

    .paragraphe {
        position: relative;
        left: 0px;
        margin-top: -5px;
        width: auto;
        font-size: smaller;
        padding-left: 20px;
        padding-bottom: 13px;
        padding-top: 13px;
    }

    footer ul {
        margin: 0px;
        padding-top: 0px;
    }

    footer li {
        margin-top: 10px;
    }

    footer {
        margin: 30px 0px 0px 0px;
    }
}